<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Geolocation 📍</mat-card-title>
            <mat-card-content>
                <b>Latitude : </b> <br>
                <b>Longitude : </b> 00<br>
                <b>City : </b> Paris<br>
                <b>Country : </b> France<br>
                <b>Country Code : </b> 33<br>
                <b>Region : </b> Ile de France<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Connection 📡</mat-card-title>
            <mat-card-content>
                <b>IP Address : </b>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Security 🔐</mat-card-title>
            <mat-card-content>
                <b>IP Address : </b>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Data provided by IPAPI</mat-card-title>
            <mat-card-content>
                <a href="https://ipapi.com/">https://ipapi.com/</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  