<mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Geolocation 📍</mat-card-title>
            <mat-card-content>
                <b>Latitude : </b> {{lat || "please wait"}}<br>
                <b>Longitude : </b> {{lon || "please wait"}}<br>
                <b>City : </b> {{city || "please wait"}}<br>
                <b>ZIP : </b> {{zip || "please wait"}}<br>
                <b>Country : </b> {{country || "please wait"}}<br>
                <b>Country Code : </b> {{countryCode || "please wait"}}<br>
                <b>Region : </b> {{regionName || "please wait"}}<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Connection 📡</mat-card-title>
            <mat-card-content>
                <b>IP Address : </b> {{ip || "please wait"}}<br>
                <b>ISP : </b> {{isp || "please wait"}}<br>
                <b>AS : </b> {{as1 || "please wait"}}<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  