<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Geolocation 📍</mat-card-title>
            <mat-card-content>
                <b>Latitude : </b> {{lat || "please wait"}}<br>
                <b>Longitude : </b> {{lon || "please wait"}}<br>
                <b>City : </b> {{city || "please wait"}}<br>
                <b>ZIP : </b> {{zip || "please wait"}}<br>
                <b>Country : </b> {{country || "please wait"}}<br>
                <b>Country Code : </b> {{countryCode || "please wait"}}<br>
                <b>Region : </b> {{regionName || "please wait"}}<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Connection 📡</mat-card-title>
            <mat-card-content>
                <b>IP Address : </b> {{ip || "please wait"}}<br>
                <b>Hostname : </b> {{hostname || "please wait"}}<br>
                <b>ISP : </b> {{isp || "please wait"}}<br>
                <b>AS : </b> {{as1 || "please wait"}}<br>
                <b>ASN :</b> {{ASN || "please wait"}}<br>
                <b>Mobile: </b> {{isMobile || "please wait"}}<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Security 🔐</mat-card-title>
            <mat-card-content>
                <b>Proxy : </b> {{isProxy || "please wait"}}<br>
                <b>Hosting: </b> {{isHosting || "please wait"}}<br>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Data provided by IPAPI</mat-card-title>
            <mat-card-content>
                <a href="https://ipapi.com/">https://ipapi.com/</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  